:root {
  --color-surf: #08fdd8;
  --color-black: #000;
  --color-white: #fff;
  --color-surf: #08fdd8;
  --color-surf-hover: #019e86;
  --color-main: #17181c;
  --color-pink: #cc0033;
  --color-text: #5255ff;
  --color-light: #edeef7;
  --color-select: #7666c1;

  --font-family: 'PT Serif', serif;
  --small-font: 400 1.6rem / 140% Helvetica;
  --regular-font: 400 2rem / 140% var(--font-family);
  --regular-mid-font: 400 2.2rem / 140% var(--font-family);
  --bold-font: 700 3rem / 140% var(--font-family);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  background-color: var(--color-main);
  color: var(--color-surf);
  height: 100vh;
}

.currency {
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  width: 100%;
  max-width: 45rem;
  background-color: var(--color-main);
}

.currency__title {
  margin: 0;
  margin-bottom: 20px;
  font: var(--bold-font);
  text-align: center;
}

.currency__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.currency__select,
.currency__input {
  margin-right: 1rem;
  padding-left: 0 1rem;
  border: none;
  outline: none;
  margin-bottom: 5px;
  height: 5rem;
  width: 95%;
  border-radius: 10px;
  cursor: pointer;
}

.currency__select {
  color: var(--color-white);
  background-color: var(--color-select);
  font: var(--regular-font);
  max-height: 65px;
}

.currency__input {
  background: var(--color-light);
  font: var(--regular-mid-font);
  color: var(--color-text);
}

.currency__input:focus {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn {
  margin: 1.2rem auto;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 98%;
  font: var(--regular-font);
  transition: color 0.3s ease-in-out, background 0.3s linear, box-shadow 500ms linear;
  border: 1px solid var(--color-surf);
  color: var(--color-surf);
}

.btn:hover {
  box-shadow: 0 0 5px var(--color-surf), 0 0 12px var(--color-surf-hover);
  color: var(--color-white);
  background: linear-gradient(117deg, rgba(8, 253, 216, 1) 0%, rgb(0, 199, 169) 100%);
}

.error-message {
  display: none;
  opacity: 0;
  background-color: #fce4e4;
  border: 0.1rem solid #fcc2c3;
  float: left;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;

  width: 40rem;
}

.error-text {
  color: var(--color-pink);
  font: var(--small-font);
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}

.show {
  display: block;
  opacity: 1;
}

.error-message.show {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
